<!-- <h1>{{ title }}</h1>
<p>This is a bare-bones template.</p>
<ul>
{% for person in people %}
  <li>{{ person.name }}</li>
{% endfor %}
</ul> -->

{% extends "layout.html" %}

{% block content %}
<br>
<div class="row">    
    <div class="col-md-4" style="background-color: #c0deed">
      <img class='mainimg' src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <div style="margin-top: 30px">
      <b id="mainName">Reginald Housen</b><br>
      <p>197 followers<p>
      </div>
    
        {% if showForm %}
        <form style='padding: 20px;' action="/tweets" method="POST">
          <input name="name" type="text" class='tweetbox' id="name_field" placeholder="Jane Doe"/>
          <input name="text" class='tweetbox' type="text" id="text_field" style="max-width: 300px; min-width: 260px" placeholder="What's happening?" />
          <input type="submit" id='tweet' value="Tweet" />
        </form>
      {% endif %}
    </div>
  
  <div class="col-md-8" style="background-color: white; padding: 20px;">
      

      <!-- display tweets here -->
      {% for tweet in tweets %}
<div class="tweeting">
   <img class='img'>
    <li style='margin-top: 10px;'><a class='by' href="/users/{{tweet.name}}">{{tweet.name}}</a></li>
    <li><a style='color: black; text-decoration: none;' href="/tweets/{{tweet.id}}">{{tweet.content}}</a></li>
    <br style='clear:both'/>
</div>
      {% endfor %}

    </div>
 

  




{% endblock %}
