<!-- <h1>{{ title }}</h1>
<p>This is a bare-bones template.</p>
<ul>
{% for person in people %}
  <li>{{ person.name }}</li>
{% endfor %}
</ul> -->

{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      {% for tweet in tweets %}

   <img style= 'float:left; margin: 10px; width:50px; height:50px; border-radius:50%', src=http://digitalspyuk.cdnds.net/17/13/768x667/gallery-1490989105-twitter1.jpg>
        <li style = 'margin-top: 20px; list-style:none'><a href="/users/{{tweet.name}}">{{tweet.name}}</a> - <a style = 'color: black', href="/tweets/{{tweet.id}}">{{tweet.content}}</a></li>
    <br style='clear:both'/>
      {% endfor %}

    </div>
  </div>

  {% if showForm %}
  <form action="/tweets" method="POST">
    <label for="name_field">Name:</label>
    <input name="name" type="text" id="name_field" value="Jane Doe" />

    <label for="text_field">Text:</label>
    <input name="text" type="text" id="text_field" style="width: 350px;" value="What's happening?" />

    <input type="submit" value="Submit" />
  </form>
{% endif %}




{% endblock %}
